body {
    margin: o;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content:  space-between; */
    align-items: center;
    align-content: center;
    background-image: url("bgtour1.jpg");
}

#nav {

    background-color: rgb(170, 250, 250);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    box-shadow: 0px 2px 2px 2px  rgb(179, 221, 221);
    position: fixed;
}

.menu_container {
    width: 100vw;
    text-align: left;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}

.menu_box {
    margin: 0;
    /* padding: 0 1vw; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border:  solid 1px #e80d0d; */
}

.menu_box_a {
    margin: 0;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    text-align: center;
    color: black;
    text-decoration: none;

}

.menu_box_a:hover {
    /* background-color: black; */
    /* color: white; */
    font-size: large;


}

.menu_box:hover {
    /* background-color: black; */
    /* color: white; */
    font-size: large;
    width: 150px;

}

.icon_menu {
    display: none;
}

.option {
    padding-left: 0%;
    height: 35px;
    width: 7vw;
    /* border: solid 1px blue; */
    font-size: 1vw;
    font-weight: bolder;
    align-content: center;
}

.option:hover {
    font-weight: bolder;
    font-size: large;
}

.menu_box_i img {
    height: 35px;
    mix-blend-mode: multiply;
    display: none;
}

.e2n {
    color: #e80d0d;
    font-weight: bolder;
}

@media (max-width:600px) {
    .menu_box_i img {
        height: 35px;
        mix-blend-mode: multiply;
        display: block;
    }

    .menu_box {
        display: none;
    }

    .menu_box_i:hover {
        background-color: #e80d0d;
    }

    .menu_modal {

        /* width: 80vw; */
        /* border-radius: 50px; */
        /* border: solid black 2px; */
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .menuModal_a div {

        color: #070101;
    }

    .menuModal_a {
        text-decoration: none;
    }

    .menu_modal a:hover {
        font-weight: bolder;
        font-size: x-large;
    }
    .hotelbody{
        display: flex;
        flex-direction: column;
        
    }
    

}


.container {
    margin-top: 50px;
    width: 100%;
    /* background-color: rgb(199, 196, 196); */
    overflow: hidden;
    background-size: 100% 80%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

#element1 {
    display: flex;
    justify-content: center;
}

#viewedNo {
    width: 60px;
    height: 60px;
    /* background-color: rgb(83, 3, 3); */
    border: white solid;
    border-radius: 15px;
    margin-top: -15px;



}

#viewedNo p {
    color: white;
}

#element2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

#element img {
    margin-left: 20px;
    mix-blend-mode: multiply;
}

#logo {
    aspect-ratio: 0.9718202589;
    width: 10vw;
    mix-blend-mode: multiply;
}

#details {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;

    text-align: center;
}

.e2n {
    font-weight: 400px;
}

.Contacts {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.con {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;


}

#call {
    color: white;
}

.con img {
    height: 40px;
    width: 40px;
    mix-blend-mode: multiply;
    color: white;
}

.con:hover {

    background-color: #ebe1e1;
}

.subcontentbody {
    margin: 5px;
    /* height: 500px; */
    background-color: transparent;
    font-weight: bolder;
    font-size: larger;
    color: white;
    display: flex;
    justify-content: center;


}

.subheading {
    margin: 5px;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
}

.container2 {
    margin-top: 40px;
    width: 85vw;
    /* background-color: white; */
    overflow: hidden;
    background-size: 100% 80%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 5vw;


}

#footer {
    margin-top: 5vw;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    font-weight: bolder;
    font-size: 2vw;
    color: white;

}

#p1 {
    font-weight: bolder;
    font-size: larger;
    color: black;
}

.visitingcard {
    display: flex;
    justify-content: center;

}

#visitingcardImage {
    height: 280px;
    width: 400px;
}

#proser {
    aspect-ratio: 0.7125;
    height: 400px;
}

.qrcodelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#qrcodeImage {
    aspect-ratio: 0.709375;
    height: 400px;
}

.accdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#feedbacksubcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#feedbackform {
    width: 500px;
    border: solid black 5px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#ratingbox {
    width: 400px;
    border: solid black 5px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#samplefeedback {

    border: solid black 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.feedbackcard {
    margin: 5px;
    height: 400px;
    width: 300px;
    border: solid black 5px;
    border-radius: 50px;
}

.contactus {
    margin: 15px;
    display: flex;
    flex-direction: column;

}

.button {
    background-color: #e80d0d;
    height: 40px;
}

.logo {
    height: 40px;
    width: 40px;
    mix-blend-mode: color-burn;
}

.menu_modal {
    /* width: 80vw;
height: 300px;
border: solid black 2px;
border-radius: 50px;
background-color: rgb(176, 223, 223); */
    display: none;
}

.logodiv {
    height: 15vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 1vw;
    
}

.logoimage {
    aspect-ratio: 1;
    height: 10vw;
    border-radius: 10vw;
    border: solid 3px;
}
.logoimage1{
    aspect-ratio: 1;
    width: 20vw;
    border: solid 0.7vw mediumspringgreen;
    
}
.carimage {
    aspect-ratio: 1;
    height: 10vw;  
}
.subcontentbodys {
    height: 900 vh;
    width: 90vw;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputtype {
    width: 50vh;
    height: 4vh;

}

.padding {
    padding: 7px;
    display: flex;
    gap: 100px;

}

.inputarea {
    width: 25vw;
    height: 3vw;
    background-color: rgb(185, 249, 249);
}
.selectarea{
    width: 25.5vw; 
    background-color: rgb(185, 249, 249);
    height: max-content;
}

.hotelsection {
    
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.hoteloption {
    background-color: transparent;
    border: solid cadetblue 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    align-self: center;

}
.bookingsection{
    width: max-content;
}

.hotelname {
    background-color: rgb(216, 214, 214);
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.hotelbody {
    background-color: transparent;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
}
.pichotel img {
    aspect-ratio: 1;
    margin: 0.5vw;
    height: 14vh;
}

.deshotel {
    padding-top: 0.9vh;

}
.deshotel a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(232, 109, 22);
}

#pictour {
    aspect-ratio: 1.85;
}
.sec1, .sec2, .sec3, .sec4{
    display: none;
}
.BookingForm{
    font-weight: bolder; border: solid black 2px; width: max-content; display: none;
}